extends layout

block content
    div.row.mb-5
        if page==="Create"
            div.category-background.col-12.col-md-4(style=("background-image:url('../../../../images/create.jpg')"))
            div.col-12.col-md-8.bg-dark.text-white.py-5
                h1.display-4.font-weight-bold.text-center.text-warning Add 
                    span.font-weight-light.text-white.text-nowrap Question
                h4.text-muted.text-center.font-weight-light #{quiz_name} | 
                    em #{quiz_author}
                p.text-center.mt-5.px-5
                    strong.text-warning Step 1: 
                    | Fill out the form below. 
                    em Note: Answers are displayed in random order to quiz-takers.
                p.text-center.px-5
                    strong.text-warning Step 2: 
                    | Once complete, click the 'Submit Question' button.
                p.text-center.px-5
                    strong.text-warning Step 3: 
                    | If the update was successful, you will be directed back to your updated Quiz page.
        else
            div.category-background.col-12.col-md-4(style=("background-image:url('../../../../../images/update.jpg')"))
            div.col-12.col-md-8.bg-dark.text-white.py-5
                h1.display-4.font-weight-bold.text-center.text-warning Edit 
                    span.font-weight-light.text-white.text-nowrap Question
                h4.text-muted.text-center.font-weight-light #{quiz_name} | 
                    em #{quiz_author}
                p.text-center.mt-5.px-5
                    strong.text-warning Step 1: 
                    | Update the form below as needed. 
                    em Note: Answers are displayed in random order to quiz-takers.
                p.text-center.px-5
                    strong.text-warning Step 2: 
                    | Once complete, click the 'Submit Updates' button.
                p.text-center.px-5
                    strong.text-warning Step 3: 
                    | If the update was successful, you will be directed back to your updated Quiz page.
    div.container
        h1.text-center.font-weight-light.mb-5 Add Question

        if errors 
            ul
                for error in errors
                    li.text-danger!= error.msg

        form(method='POST' action='')
            div.form-group
                label(for="question") Question
                input#question.form-control(type="text" placeholder="Enter a question/challenge (up to 100 characters)" name="question" required="required" value=(undefined===quiz ? '' : quiz.questions[question_number]))
            div.form-group
                label(for="answer1") Answer 1
                input#answer1.form-control(type="text" placeholder="Enter a possible answer to your question/challenge (up to 50 characters)" name="answer1" required="required" value=(undefined===quiz ? '' : quiz.answers[question_number][0]))
            div.form-group
                label(for="answer2") Answer 2
                input#answer2.form-control(type="text" placeholder="Enter a possible answer to your question/challenge (up to 50 characters)" name="answer2" required="required" value=(undefined===quiz ? '' : quiz.answers[question_number][1]))
            div.form-group
                label(for="answer3") Answer 3
                input#answer3.form-control(type="text" placeholder="Enter a possible answer to your question/challenge (up to 50 characters)" name="answer3" required="required" value=(undefined===quiz ? '' : quiz.answers[question_number][2]))
            div.form-group
                label(for="answer4") Answer 4
                input#answer4.form-control(type="text" placeholder="Enter a possible answer to your question/challenge (up to 50 characters)" name="answer4" required="required" value=(undefined===quiz ? '' : quiz.answers[question_number][3]))
            p Correct Answer
            div.form-group
                div.form-check.form-check-inline 
                    input#correctanswer1.form-check-input(type="radio" name="correct_answer" value=1 required="required" checked=(undefined===quiz ? false : quiz.correct_answers[question_number]===quiz.answers[question_number][0] ? "checked" : false))
                    label.form-check-label(for="correctanswer1") Answer 1
                div.form-check.form-check-inline 
                    input#correctanswer2.form-check-input(type="radio" name="correct_answer" value=2 required="required" checked=(undefined===quiz ? false : quiz.correct_answers[question_number]===quiz.answers[question_number][1] ? "checked" : false))
                    label.form-check-label(for="correctanswer2") Answer 2
                div.form-check.form-check-inline 
                    input#correctanswer3.form-check-input(type="radio" name="correct_answer" value=3 required="required" checked=(undefined===quiz ? false : quiz.correct_answers[question_number]===quiz.answers[question_number][2] ? "checked" : false))
                    label.form-check-label(for="correctanswer3") Answer 3
                div.form-check.form-check-inline 
                    input#correctanswer4.form-check-input(type="radio" name="correct_answer" value=4 required="required" checked=(undefined===quiz ? false : quiz.correct_answers[question_number]===quiz.answers[question_number][3] ? "checked" : false))
                    label.form-check-label(for="correctanswer4") Answer 4
            div.form-group
                label(for="hint") Hint (Optional)
                input#hint.form-control(type="text" placeholder="Enter a hint for your question/challenge (up to 100 characters)" name="hint" value=(undefined===quiz ? '' : quiz.hints[question_number]))
            br
            if page==="Create"
                div.text-center.mb-5
                    button#submit-quiz.btn.btn-warning(type='submit') Submit Question
            else
                div.text-center.mb-5
                    button#submit-quiz.btn.btn-warning(type='submit') Submit Updates